<p>Назначение пользователей на курс «<%= @course.name %>»</p>

<%= form_for @course do |f| %>
    <%= f.collection_check_boxes(:user_ids, User.all, :id, :name) do |cb| %>
        <%= cb.check_box %> <%= cb.label %><br>
    <% end %>
    <%= f.submit %>
<% end %>
