<p>Распределение пользователей по курсам</p>

<hr>
Текущее распределение:

<table>
    <thead>
        <tr>
            <th>Название курса</th>
            <th>Пользователи</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @courses.each do |c| %>
        <tr>
            <td><%= c.name %></td>
            <td>
                <% if c.users.count == 0 %>
                Пользователи не назначены
                <% else %>
                    <% c.users.each do |u| %>
                        <%= u.name %></br>
                    <% end %>
                <% end %>
            </td>
            <td><%= link_to 'Назначить пользователей на курс', edit_course_path(c) %></td>
        </tr>
        <% end %>
    </tbody>
</table>
